body{
  background-image:url("https://www.warnerbros.com/archive/spacejam/movie/img/bg_stars.gif");
}

.navbar {
    border: 1 solid;
}

.dropdown-image {
    height: 20px;
    margin-right: 14px;
    vertical-align: initial;
}

#main-logo {
    height: 50px;
}

nav {
    background-color: #178E8D;
}

footer {
    background-color: #F82A31;
}

.bio-container {
    h1 {
        color: #FEFE90;
    }
    hr {
        border-color: #FEFE90;
    }

    .card {
        min-width: 220px;
        max-width: 220px;
    }
}